@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 6%;
}

.wrapper h1 {
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

.travel-button {
    font-size: 1.15rem;
    background: none;
    padding: 10px 30px;
    cursor: pointer;
    margin: 3%;
    color: rgb(255, 211, 198);
    border-radius: 8px;
    transition: .25s;
}

.travel-button:hover {
    color: rgb(50, 1, 94);
    background-color: rgb(255, 211, 198);
    transition: .25s;
}

#travelButtons {
    margin-bottom: 2%;
    float: left;
    width: 20%;
    background-color: rgb(50, 1, 94);
    height: 100%;
    padding: 8px;
}

input {
    width: 400px;
    padding: 10px;
}

label {
    font-size: 1.15rem;
    font-family: Arial, Helvetica, sans-serif;
}

#gifNumber {
    font-size: 1rem;
}

#addButton,
#addNumberButton {
    font-size: 1.15rem;
    padding: 10px 30px;
    background: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .25s;
}

#addButton:hover,
#addNumberButton:hover {
    background-color: rgb(50, 1, 94);
    color: rgb(255, 211, 198);
    transition: .25s;
}

#addButtonText,
#addNumber {
    font-size: 1.15rem;
}

#travelGifs {
    margin-left: 3%;
    padding-left: 3%;
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
}

.gif {
    width: 100%;
    cursor: pointer;
}

.gif-title {
    text-align: center;
    font-size: 1.15rem;
    line-height: 1.5rem;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times,
        serif;
    font-weight: 700;
}

.gif-source {
    text-decoration: none;
    font-family: 'Playfair Display',
        Georgia,
        'Times New Roman',
        Times,
        serif;
    font-size: 1rem;
}

.gif-rating {
    font-family: 'Playfair Display',
        Georgia,
        'Times New Roman',
        Times,
        serif;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 700;
}

@media screen and (max-width: 700px) {
    #travelButtons {
        width: 100%;
    }

    input {
        width: 100%;
    }
}